@{
    ViewData["Title"] = "Home Page";
}
<div class="mt-5 d-flex justify-content-center align-items-center" dir="rtl">
    <div class="text-center">
        <h4 class="fw-bold">لیست بررسی‌های روزانه دپارتمان فناوری اطلاعات</h4>
        <!-- نوار ابزار بالا -->
        <div class="d-flex flex-wrap align-items-center gap-3 my-3 justify-content-center">
            <a class="btn custom-btn-success" type="button" asp-area="" asp-controller="Checklist" asp-action="Index">ورود به مدیریت اطلاعات</a>  
        </div>
    </div>
</div>
