@model ITCheckList.Models.TBL_CheckItem

<!-- فرم افزودن موضوع جدید -->
<form id="addChecklistForm">
    <div class="form-group">
        <label for="section">نام بخش</label>
        <input type="text" name="Section" class="form-control" id="section" required />
        <span asp-validation-for="Section" class="badge badge-light-danger fs-7 fw-bold"></span>
    </div>
    <div class="form-group">
        <label for="description">توضیحات</label>
        <input type="text" name="Description" class="form-control" id="description" required />
        <span asp-validation-for="Description" class="badge badge-light-danger fs-7 fw-bold"></span>
    </div>
    <div class="mb-3">
        <label for="status" class="form-label">وضعیت</label>
        <select name="Status" id="status" class="form-select" required>
            <option value="">-- انتخاب وضعیت --</option>
            <option value="false">در دست بررسی</option>
            <option value="false">در دست اقدام</option>
            <option value="true">انجام شد</option>
        </select>
    </div>
    <div class="form-group">
        <label for="note">ثبت یادداشت</label>
        <input type="text" name="Note" class="form-control" id="note" />
    </div>
    <button type="submit" class="btn btn-success">ثبت اطلاعات</button>
</form>
@section ValidationAddCheckListForm {
        // بررسی کردن مقادیر درون ورودی ها
    <partial name="_ValidationScriptsPartial" />
}